In [1]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
import os
import requests
import zipfile
from io import BytesIO

C:\Anaconda_Stuff\envs\conda\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# Download latest version
path = kagglehub.dataset_download("ahmedshahriarsakib/usa-real-estate-dataset")

In [3]:
for file in os.listdir(path):
    if file.endswith(".csv"):
        csv_path = os.path.join(path, file)
        print("Loading:", csv_path)
        df = pd.read_csv(csv_path)
        break

Loading: C:\Users\jacqu\.cache\kagglehub\datasets\ahmedshahriarsakib\usa-real-estate-dataset\versions\25\realtor-data.zip.csv

In [4]:
#Save houses df to working directory
df.to_csv('Houses_Sold.csv')

In [7]:
zip_url = "https://hazards.fema.gov/nri/Content/StaticDocuments/DataDownload//NRI_Table_Counties/NRI_Table_Counties.zip"
os.makedirs(".",exist_ok=True)
resp = requests.get(zip_url)
resp.raise_for_status()
with BytesIO(resp.content) as b:
    with zipfile.ZipFile(b) as z:
        z.extractall()

In [8]:
path = kagglehub.dataset_download("shaswotj/us-population-by-zip-code")

In [9]:
for file in os.listdir(path):
    if file.endswith(".csv"):
        csv_path = os.path.join(path, file)
        print("Loading:", csv_path)
        df = pd.read_csv(csv_path)
        break
df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)

Loading: C:\Users\jacqu\.cache\kagglehub\datasets\shaswotj\us-population-by-zip-code\versions\1\US Population by Zip Code.csv

In [10]:
df.to_csv('zip_pop.csv')

In [11]:
df

0           Geography Geographic Area Name  Total Population
0      860Z200US00601          ZCTA5 00601             17242
1      860Z200US00602          ZCTA5 00602             37548
2      860Z200US00603          ZCTA5 00603             49804
3      860Z200US00606          ZCTA5 00606              5009
4      860Z200US00610          ZCTA5 00610             25731
...               ...                  ...               ...
33769  860Z200US99923          ZCTA5 99923                66
33770  860Z200US99925          ZCTA5 99925               784
33771  860Z200US99926          ZCTA5 99926              1562
33772  860Z200US99927          ZCTA5 99927                49
33773  860Z200US99929          ZCTA5 99929              2079

[33774 rows x 3 columns]